extends layout

block title
  title Datasets - CLUB

block description
  meta(name='description', content='CLUB Dataset sources and information')

block extralinks
  link(rel='stylesheet', href='./stylesheets/index.css')

block extrascripts
    script(src="./javascripts/navbar-prevent-on-html-link.js")

mixin fill_text(texts)
    each element in texts
        div.datasetHolder(id=element.id)
            if element.link
                h3
                    a(href=element.link target="_blank") #{element.title}
            else
                h3 #{element.title}
            p #{element.text}

block content
  .cover#contentCover
    .container
      .row
        .col-md-15
          .infoCard
            .infoBody
              .infoHeadline
                h2 Datasets
              +fill_text(test1)
